@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GothamBook.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GothamBold.ttf');
  font-weight: 500;
  font-style: bold;
}