/* @import url('https://fonts.googleapis.com/css?family=Montserrat:bold,900,800,700,600,500,400,600,300'); */
/* @import url('font-gotham.css?family=Gotham:normal,bold,900,800,700,600,500,400,600,300'); */
/* @import url('https://fonts.googleapis.com/css?family=Inter:bold,900,800,700,600,500,400,600,300'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:bold,900,800,700,600,500,400,600,300');
/* @import url('https://fonts.googleapis.com/css?family=Roboto:bold,900,800,700,600,500,400,600,300'); */

:root {
  --primary-color: #b88c1c;
  --secondary-color: #081314;
  --blue-color: #0070f3;
  --green-color: #57a436;
  --red-color: #c1272d;
  --yellow-color: #e7eb1a;
  --background-color: #EEEEEE;
  --border-color: #e0e0e080;
}

* {
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: Inter; */
  font-family: 'Open Sans';
  /* font-family: Roboto; */
  scroll-margin-top: 9rem;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: var(--background-color);
  /* display: none; */
  /* position: absolute; */
  right: 0;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

*::-webkit-scrollbar-corner {
  background: #fff;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

ion-icon {
  font-size: 1.5rem;
  color: inherit;
}

html {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.2;
  padding: 0px;
  margin: 0px;
  background-color: var(--background-color);
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Header
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.header {
  height: 6rem;
  background-image: url('../assets/images/backgrounds/header-background.jpg');
  background-position: top;
  background-size: cover;
}

.header>div {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.header a {
  cursor: pointer;
}

.header>div img {
  object-fit: contain;
  height: 4rem;
}

.header>div>div {
  position: absolute;
  right: 1rem;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Navbar
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.navbar {
  display: flex;
  height: 4rem;
  flex-direction: column;
  background-color: #000;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: 0.2s;
}

.navbar>div {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.navbar>div .notification-icon {
  display: none;
}

.navbar>div .user-icon {
  position: absolute;
  left: 0;
}

.navbar>div .brand {
  display: none;
}

.navbar>div>.toggle {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  transition: 0.2s;
  cursor: pointer;
}

.navbar>div>.toggle>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
}

.navbar>div>.toggle>div>div {
  width: 22px;
  height: 3px;
  background-color: #fff;
  margin: 2.5px 0;
  transition: 0.2s;
}

.navbar>div>.toggle>h5 {
  margin: 0;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

/* List */
.navbar>ul {
  margin: 0;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  /* gap: 1rem; */
  padding-bottom: 4rem;
  list-style: none;
  overflow-y: scroll;
}

.navbar>ul::-webkit-scrollbar {
  display: none;
}

.navbar>ul>li {
  width: 100%;
  border-bottom: 0.1rem solid #ffffff99;
  list-style: none;
}

.navbar .logo {
  margin: 0 2rem;
}

.navbar .logo img {
  height: 3.5rem;
}

.navbar>ul li a {
  display: flex;
  width: 100%;
  color: #ffffff99;
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.navbar>ul li.white>a {
  color: #fff;
  font-weight: normal;
}

.navbar.open .toggle {
  display: flex;
  background-color: #66666680;
}

.navbar.open .toggle>div>div.bar1 {
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

.navbar.open .toggle>div>div.bar2 {
  opacity: 0;
}

.navbar.open .toggle>div>div.bar3 {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

/* Submenu ::::::::::::::::: */
/* Navbar submenu ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.submenu {
  position: relative;
  width: 100%;
  overflow: visible;
}

.submenu-content {
  display: none;
  position: relative;
  list-style: none;
  text-align: left;
  width: 100%;
  top: 100%;
  padding: initial;
}

.submenu-content li {
  border-top: 0.1rem solid #ffffff90;
  /* margin-top: 1rem;
  padding-top: 1rem; */
}

.submenu-content li:last-of-type {
  border-bottom: none;
}

.submenu-content a {
  font-weight: 500 !important;
}

.navbar>ul li a.submenu-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu>a::after {
  content: "";
  background-image: url('../assets/images/arrow-up.svg');
  background-size: 100% 100%;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  position: relative;
  transform: rotate(-180deg);
  transition: 0.2s;
}

.submenu.open>a::after {
  transform: rotate(0deg);
}

/* Navbar white */
.navbar-white .navbar {
  background-color: #fff;
  height: 6rem;
}

.navbar-white .navbar>div {
  display: grid;
  grid-template:
    "brand  toggle notification-icon  user-icon" /
    2fr 6fr 1fr 1fr
  ;
  height: 6rem;
  width: 100%;
}

.navbar-white .navbar>div .user-icon {
  grid-area: user-icon;
  position: relative;
  padding-right: 0.4rem;
}

.navbar-white .navbar>div .user-icon ion-icon {
  color: #999;
}

.navbar-white .navbar>div .notification-icon {
  display: flex;
}

.navbar-white .navbar>div .notification-icon {
  grid-area: notification-icon;
  position: relative;
}

.navbar-white .navbar>div .brand {
  grid-area: brand;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-white .navbar>div .brand>img {
  height: 3rem;
  margin-top: -1rem;
}

.navbar-white .navbar>div>.toggle {
  grid-area: toggle;
  height: 6rem;
}

.navbar-white .navbar.open .toggle {
  display: flex;
  background-color: #ffffff;
}

.navbar-white .navbar>div>.toggle>div>div {
  background-color: #000;
}

.navbar-white .navbar>div>.toggle>h5 {
  color: #000;
}

.navbar-white .navbar>ul li a {
  color: #00000095;
}

.navbar-white .navbar>ul li.white>a {
  color: #000;
}

.navbar-white .navbar>ul>li {
  border-bottom: 0.1rem solid #00000080;
}

.navbar-white .submenu-content li {
  border-top: 0.1rem solid #00000070;
}

.navbar-white .submenu>a::after {
  background-image: url('../assets/images/arrow-up-black.svg');
}

/* Navbar open */
.navbar.open {
  height: calc(100vh - 6rem);
}

/* .navbar-white .navbar.open {
  height: calc(100vh - 6rem);
} */

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Main
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.main {
  height: auto;
}

/* Page section :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.8rem 1rem;
}

.page-section>h1 {
  margin: 0;
  color: #000;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.page-section>h2 {
  margin: auto 3rem;
  color: #000;
  font-size: 1.1rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: 2rem;
}

.page-section>h3 {
  margin: auto 3rem;
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1rem;
}

.page-section>h4 {
  margin: auto 3rem;
  color: #000;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1rem;
}

.divider {
  width: 100%;
  border-bottom: 0.12rem solid #000;
}

.img-section {
  text-align: center;
  position: relative;
}

.img-section>img {
  width: 100%;
  object-fit: contain;
}

.img-section>img.img-desktop {
  display: none;
}

.img-section>.content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 1rem;
}

.img-section>.content.top-align {
  justify-content: flex-start;
  padding-top: 4rem;
}

.img-section>div>h1 {
  margin: 0;
  color: #000;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Breadcrumbs
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.breadcrumbs {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 8%;
}

.breadcrumbs>ul {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.breadcrumbs>ul>li {
  list-style: none;
  font-weight: bold;
}

.breadcrumbs>ul>li::after {
  content: '/';
  color: #999;
}

.breadcrumbs>ul>li:last-child::after {
  content: none;
}

.breadcrumbs>ul>li>a {
  color: #999;
  font-size: 1rem;
}

.breadcrumbs>div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumbs>div>img {
  height: 2rem;
  margin-right: 0.5rem;
}

.breadcrumbs>div>h1 {
  margin: 0;
  font-size: 2rem;
}

.breadcrumbs>h2 {
  margin: 0;
  font-size: 1.3rem;
  color: #777;
  font-weight: normal;
  margin-top: 1rem;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Icons
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.icon>a,
.icon>div {
  display: flex;
  color: #333;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon .badge {
  position: absolute;
  display: flex;
  background-color: var(--red-color);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  font-size: 0.6rem;
  height: 1rem;
  width: 1rem;
  top: -0.3rem;
  right: -0.3rem;
}

.icon div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 0.8rem;
}

.icon div.extra-content {
  display: none;
}

.icon div>h4 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #666;
}

.icon div>h3 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
}

.icon.white ion-icon,
.icon.white h4,
.icon.white h3 {
  color: #fff;
}

.icon.large ion-icon {
  font-size: 2rem;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Form group
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0.8rem 0;
  position: relative;
}

.space-between {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.align-end {
  align-items: flex-end !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.align-start {
  align-items: flex-start !important;
}

.center {
  align-items: center !important;
  justify-content: center !important;
}

.form-group a {
  margin: 0;
  font-size: 0.9rem;
}

.form-group .input-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.form-group .input-group>input,
.form-group .input-group>select {
  padding-left: 2.5rem;
}

.form-group .input-group>.prepend {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.5rem;
}

.form-group .input-group>.prepend>ion-icon {
  font-size: 1.3rem;
  color: #777;
}

.form-group.bold label {
  font-weight: bold;
}

.form-group label>span {
  color: var(--red-color);
}

.form-group .input-group-append {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.form-group .input-group-append>input,
.form-group .input-group-append>select {
  padding-right: 2rem;
}

.form-group .input-group-append>.append {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.5rem;
  color: #000;
}

.form-group .input-group-append>.append a {
  color: #000;
}

.form-group .input-group-append>.append>ion-icon {
  font-size: 1.3rem;
  color: #777;
}

.form-divider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.form-divider::after {
  content: "";
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 0.05rem;
  background-color: #999999;
}

.form-divider::before {
  content: "";
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 0.05rem;
  background-color: #999999;
}

/* .form-group .input-group>input:first-child {
  border-radius: 0.3rem 0 0 0.3rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  border-right: none;
} */

/* .form-group .input-group>.btn:last-child {
  border-radius: 0 0.3rem 0.3rem 0;
  border-left: none;
  background-color: var(--light-border-color);
  margin: 0;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
}

.form-group .input-group>.btn:last-child>ion-icon {
  font-size: 1.3rem;
  color: var(--dark-color);
} */

label {
  margin: 0;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.1rem;
  font-weight: normal;
}

.heading {
  margin: 0;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.8rem;
  font-weight: normal;
}

.heading-bold {
  margin: 0;
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  outline: none;
  border: 0.12rem solid rgb(229, 229, 229);
  height: 2.5rem;
  width: 100%;
  text-align: left;
  background: #fff;
  border-radius: 0.1rem;
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

.form-group.code input {
  font-size: 1.5rem;
  text-align: center;
  padding-left: 0;
}

.form-group textarea {
  height: auto;
  padding: 0.5rem;
}

.form-group input::placeholder {
  color: #777;
}

.form-group.color {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.form-group.color label {
  text-align: left;
  margin-left: 0.5rem;
}

.form-group.color input {
  width: 2.5rem;
  padding: 0;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Radio button with img
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.radio-button-img {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.radio-button-img>input[type=radio] {
  opacity: 0;
  height: 1px;
  width: 1px;
}

.radio-button-img>label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.radio-button-img>label>img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.radio-button-img>input[type=radio]:checked+label::after {
  content: '✓';
  display: flex;
  position: absolute;
  font-size: 3rem;
  color: #fff;
  height: 5rem;
  width: 5rem;
  background-color: var(--green-color);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  opacity: 0.9;
}

.radio-button-img>input[type=radio]:checked+label>img {
  opacity: 0.6;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Chekbox group
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.checkbox-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.checkbox-group.small {
  gap: 0.3rem;
}

.checkbox-group.mb {
  margin-bottom: 2rem;
}

.checkbox-group>div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox-group.between {
  justify-content: space-between;
}

.checkbox-group.column {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.checkbox-group.between>div {
  flex-wrap: wrap;
  min-width: 47%;
  flex: 1;
}

.checkbox-group>div input[type='checkbox'] {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.checkbox-group>div label {
  font-size: 0.9rem;
  margin: 0;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-wrap: anywhere;
}

.checkbox-group.small>div label {
  font-size: 0.7rem;
}

.checkbox-group>div label::before {
  content: '';
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  height: 0.8rem;
  width: 0.8rem;
  border: 0.1rem solid #999;
  padding: 0.3rem 0.2rem 0.2rem 0.2rem;
  margin-right: 0.4rem;
  cursor: pointer;
}

.checkbox-group.small>div label::before {
  height: 0.4rem;
  width: 0.4rem;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
}

.checkbox-group>div input[type='checkbox']:checked+label::before {
  background-color: var(--primary-color);
  content: '✓';
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  border-color: var(--primary-color);
  box-shadow: 0 0 3px 1px rgb(51 51 51 / 15%);
}

.checkbox-group.small>div input[type='checkbox']:checked+label::before {
  font-size: 0.7rem;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Radio button
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.radiobutton-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.radiobutton-group.small {
  gap: 0.4rem;
}

.radiobutton-group.mb {
  margin-bottom: 2rem;
}

.radiobutton-group>div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.radiobutton-group.between {
  justify-content: space-between;
}

.radiobutton-group.column {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.radiobutton-group.between>div {
  flex-wrap: wrap;
  min-width: 47%;
  flex: 1;
}

.radiobutton-group>div input[type='radio'] {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.radiobutton-group>div label {
  font-size: 0.9rem;
  margin: 0;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-wrap: anywhere;
}

.radiobutton-group.small>div label {
  font-size: 0.7rem;
}

.radiobutton-group>div label::before {
  content: '';
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  height: 0.8rem;
  width: 0.8rem;
  border: 0.1rem solid #999;
  padding: 0.3rem 0.2rem 0.2rem 0.2rem;
  margin-right: 0.4rem;
  cursor: pointer;
  border-radius: 10rem;
}

.radiobutton-group.small>div label::before {
  height: 0.4rem;
  width: 0.4rem;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
}

.radiobutton-group>div input[type='radio']:checked+label::before {
  background-color: var(--primary-color);
  content: '✓';
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  border-color: var(--primary-color);
  box-shadow: 0 0 3px 1px rgb(51 51 51 / 15%);
}

.radiobutton-group.small>div input[type='radio']:checked+label::before {
  font-size: 0.6rem;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Range slider
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.range-slider {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0.8rem 0;
  position: relative;
}

.range-slider input {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 0.2rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0.8rem 0;
}

.range-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 5rem;
}

.range-slider input::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 5rem;
}

.range-slider div {
  width: 100%;
  text-align: center;
  color: #777;
  font-weight: normal;
  font-size: 0.9rem;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Switch
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--primary-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked+.slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Buttons
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0.1rem solid #999;
  padding: 0.5rem 0.8rem;
  color: #333;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #fff;
}

.btn.social {
  justify-content: flex-start;
  font-weight: normal;
}

.btn.btn-facebook {
  background-color: #3b5998;
  color: #fff;
}

.btn.btn-facebook ion-icon {
  color: #fff;
}

.btn.btn-google img {
  height: 1.3rem;
  object-fit: contain;
  margin-right: 1rem;
}

.btn.social ion-icon {
  margin-right: 1rem;
}

.btn ion-icon {
  margin: 0.2rem;
}

.btn.btn-block {
  /* display: block; */
  width: 100%;
}

.btn-large {
  height: 2.5rem;
}

.btn-black {
  background-color: #000;
  color: #fff;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.btn-success {
  background-color: var(--green-color);
  border-color: var(--green-color);
  color: #fff;
}

.btn-danger {
  background-color: var(--red-color);
  border-color: var(--red-color);
  color: #fff;
}

.btn.rounded {
  border-radius: 0.3rem;
}

.btn.no-mt {
  margin-top: 0;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Search section
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.global-search-section {
  text-align: center;
  padding: 2rem 1rem;
  padding-top: 0.5rem;
}

.global-search-section form {
  text-align: left;
}

.global-search-section form input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1px;
  width: 1px;
  display: none;
}

.global-search-section form input[type="checkbox"]+.checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.global-search-section form input[type="checkbox"]+.checkbox label {
  color: #000;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.global-search-section form input[type="checkbox"]+.checkbox label::before {
  content: "";
  display: flex;
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  border-radius: 100rem;
  margin-right: 0.5rem;
  border: 0.1rem solid var(--primary-color);
  cursor: pointer;
}

.global-search-section form input[type="checkbox"]:checked+.checkbox label::before {
  height: 0.6rem;
  width: 0.6rem;
  background-color: var(--primary-color);
  border: 0.3rem solid #fff;
}

.global-search-section form>.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border: 0.1rem solid #fff;
  padding: 0.3rem;
}

.global-search-section form>.content>div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.global-search-section form>.content>div>ion-icon {
  position: absolute;
  left: 0.5rem;
  color: #000;
}

.global-search-section form>.content>div>input[type="text"] {
  padding-left: 2.5rem;
}

.global-search-section form>.content input::placeholder {
  color: #999;
  font-weight: bold;
  font-size: 1rem;
}

.global-search-section form>.content input[type="text"],
.global-search-section form>.content select {
  width: 100%;
  border: 0.1rem solid #99999940;
  height: 3rem;
  background: #ffffff;
  padding: 0.1rem 0.5rem;
  font-size: 1rem;
  outline: none;
  color: #000000;
  font-weight: bold;
  border-radius: 0.1rem;
}

.global-search-section form>.content .dateinput {
  display: none;
}

.global-search-section form input[type="checkbox"]:checked+.checkbox+.content .dateinput {
  display: flex;
}

.global-search-section form>.content button {
  display: flex;
  height: 3rem;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--primary-color);
  color: #fff;
  padding: 0.5rem 2rem;
  margin-top: 0.1rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.search-supplier-types {
  display: none;
  width: 100%;
  flex-direction: column;
  background-color: var(--background-color);
  /* background-color: #fafafa; */
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #99999990;
  position: absolute;
  top: 100%;
  z-index: 1;
}

.autocomplete-supplier-type-item {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #99999920;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
  color: #000;
  font-weight: 500;
}

.autocomplete-supplier-type-item>img.img-autocomplete-hover {
  display: none;
}

.autocomplete-supplier-type-item>img {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 0.3rem;
  object-fit: cover;
  margin-right: 0.8rem;
}

.autocomplete-supplier-type-item>div {
  text-align: left;
}

.autocomplete-supplier-type-item:hover {
  background-color: #b88c1c20;
  color: var(--primary-color);
}

.autocomplete-supplier-type-item.active {
  background-color: #b88c1c20;
  color: var(--primary-color);
}

.autocomplete-supplier-type-item:hover>img.img-autocomplete {
  display: none;
}

.autocomplete-supplier-type-item:hover>img.img-autocomplete-hover {
  display: flex;
}

.search-supplier-types.active {
  display: flex;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Tabs
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.tabs {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs>.tabs-header {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 1fr));
  margin-bottom: 0.8rem;
  gap: 0.2rem;
}

.tabs>.tabs-header>a {
  display: flex;
  background-color: #C8C8C8;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  color: #959595;
  border: 0.1rem solid transparent;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.tabs>.tabs-header>a.active {
  border-color: #fff;
  background-color: var(--primary-color);
  color: #fff;
}

.tabs>.tabs-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs>.tabs-body>div {
  display: none;
  width: 100%;
  color: var(--dark-color);
}

.tabs>.tabs-body>div.tab-padding {
  padding: 1rem 5%;
}

.tabs>.tabs-body>div.active {
  display: block;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Stepper
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.stepper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stepper>.stepper-header {
  display: flex;
  width: 100%;
  background-color: #333333;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.stepper>.stepper-header-block {
  display: grid;
  width: 100%;
  /* padding: 0 1.5rem 1.5rem 1.5rem; */
  gap: 1rem;
  grid-auto-rows: auto;
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 100%), 1fr)); */
  grid-template-columns: 1fr;
}

/* .stepper>.stepper-header>a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  color: #959595;
  text-align: center;
  font-size: 1rem;
}

.stepper>.stepper-header>a.active {
  color: var(--primary-color);
  font-weight: bold;
} */

/* @edit */

.stepper>.stepper-header>a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  color: #959595;
  text-align: center;
  font-size: 1rem;
}

.stepper>.stepper-header-block>a {
  display: none;
}

.stepper>.stepper-header>a.active {
  display: flex;
  color: var(--primary-color);
  font-weight: bold;
}

.stepper>.stepper-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.stepper>.stepper-body>div {
  display: none;
  width: 100%;
  color: var(--dark-color);
}

.stepper>.stepper-body>div.active {
  display: block;
}

.stepper>.stepper-footer {
  display: flex;
  width: 100%;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.stepper>.stepper-footer>div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.stepper>.stepper-footer>div>.finish-label {
  display: none;
}

.stepper>.stepper-footer>div>.finish {
  display: none;
}

.stepper>.stepper-footer>div>a,
.stepper>.stepper-footer>div>button {
  display: flex;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.stepper>.stepper-footer>div>button>span,
.stepper>.stepper-footer>div>a>span {
  display: none;
}

.stepper>.stepper-footer>div>a.prev {
  display: none;
}

.stepper>.stepper-footer>div>a>ion-icon {
  font-size: 2.5rem;
}

.stepper>.stepper-footer>div>button>ion-icon {
  font-size: 3rem;
  color: #fff;
}

.stepper>.stepper-footer>div>p {
  margin: 0;
  padding: 0;
  text-align: right;
  color: #fff;
}

.stepper>.stepper-footer.middle>div>a.prev {
  display: flex;
}

.stepper>.stepper-footer.finish>div>a.prev {
  display: flex;
}

.stepper>.stepper-footer.finish>div>.next {
  display: none;
}

.stepper>.stepper-footer.finish>div>.finish {
  display: flex;
}

.stepper>.stepper-footer.finish>div>.step-label {
  display: none;
}

.stepper>.stepper-footer.finish>div>.finish-label {
  display: block;
}

.stepper>.stepper-footer>div>button.visualize {
  display: none;
}

.stepper>.stepper-footer.finish>div>button.visualize {
  display: flex;
}

.alert {
  display: flex;
  width: 90%;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
  border-radius: 0.2rem;
  overflow: hidden;
  padding-right: 1rem;
}

.alert.error>div {
  display: flex;
  height: 100%;
  background-color: #da4932;
  align-items: center;
  justify-content: baseline;
  padding: 1rem;
  color: #fff;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.11);
  margin-right: 1rem;
}

.alert.warning>div {
  display: flex;
  height: 100%;
  background-color: #fde71d;
  align-items: center;
  justify-content: baseline;
  padding: 1rem;
  color: #fff;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.11);
  margin-right: 1rem;
}

.alert.success>div {
  display: flex;
  height: 100%;
  background-color: #32da7e;
  align-items: center;
  justify-content: baseline;
  padding: 1rem;
  color: #fff;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.11);
  margin-right: 1rem;
}

.map {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.map>div {
  display: flex;
  width: 100%;
  min-height: 10rem;
}

/* Modal ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

/* The Close Button */
.close {
  display: flex;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  color: #000;
}

.modal-header-secondary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  color: #000;
  margin-bottom: -0.4rem;
}

.modal-header h2.modal-title {
  margin: 0;
  font-size: 1.5rem;
}

/* Modal Body */
.modal-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1rem;
  gap: 0.5rem;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  /* background-color: #00141b; */
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  border: 0.1rem solid var(--border-color);
  max-width: 30rem;
  /* Could be more or less, depending on screen size */
  width: 95%;
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09); */
  box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 15%);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-sm {
  max-width: 25rem;
}

/* Add Animation */
@keyframes animatetop {
  /* from {
    top: 0;
    opacity: 0;
    transform: scale(0.6);
  }

  to {
    top: 0;
    opacity: 1;
    transform: scale(1);
  } */

  /* 0%   {top: 0px;}
  25%  {top: 200px;}
  50%  {top: 100px;}
  75%  {top: 200px;}
  100% {top: 0px;} */

  0% {
    opacity: 0;
    transform: scale(0);
  }

  60% {
    opacity: 1;
    transform: scale(1.05);
  }

  /* 75% {
    transform: scale(1.1);
  } */

  100% {
    transform: scale(1);
  }
}

.modal-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0;
  margin-bottom: 1rem;
}

.modal-heading>h3 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.3rem;
  font-weight: normal;
}

.modal-heading>p {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Actions
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.navbar .action {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 1rem; */
}

.navbar .action>a,
.navbar .action>div {
  display: flex;
  color: #333;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar .action .badge {
  position: absolute;
  display: flex;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  font-size: 0.6rem;
  height: 1rem;
  width: 1rem;
  top: -0.3rem;
  right: -0.3rem;
}

.navbar .action div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 0.8rem;
}

.navbar .action div.extra-content {
  display: none;
}

.navbar .action div>h4 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #666;
}

.navbar .action div>h3 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
}

.nospace {
  white-space: nowrap;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Listing pagination
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.pagination {
  text-align: center;
  width: 100%;
  display: flex;
}

.pagination>ul {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.pagination>ul>li {
  list-style: none;
}

.pagination>ul>li>a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.1rem solid #999;
  border-radius: 100rem;
}

.pagination>ul>li.arrow>a {
  width: auto;
  padding: 0 0.5rem;
}

.pagination>ul>li.active>a {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.no-results {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  color: #999999;
}

.no-results ion-icon {
  font-size: 6rem;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.no-grid {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- CARDS
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
}

.card.bordered {
  border: 1px solid #99999950;
  border-radius: 0.3rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  color: #000;
  margin-bottom: 1rem;
}

.card-header h2.card-title {
  margin: 0;
  font-size: 1.5rem;
}

.card-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0;
  margin-bottom: 1rem;
}

.card-heading>h3 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.3rem;
  font-weight: normal;
}

.card-heading>h3.bold {
  font-weight: bold;
}

.card-heading>p {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}

.pure-g>div {
  padding: 0 0.2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Footer
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.footer {
  grid-area: footer;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #081314;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.footer>.top {
  display: none;
  width: 100%;
  flex-direction: column;
  background-image: url('../assets/images/backgrounds/footer/fotografo.png');
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.home-page .footer>.top {
  display: flex !important;
}

.footer>.top>div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
}

.footer>.top>img {
  object-fit: contain;
  width: 100%;
}

.footer>.top>img.desktop-copas {
  display: none;
  object-fit: contain;
  width: 100%;
}

.footer h1 {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.footer>.top p {
  margin: 0;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
}

.footer>.top h2 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--primary-color);
  margin: 0;
  margin-top: 2.5rem;
}

.footer .footer-btn {
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border: 0.1rem solid var(--primary-color);
  margin-top: 2rem;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
}

.middle {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.newsletter {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.newsletter>h3 {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 0.5rem;
}

.newsletter>p {
  font-size: 0.9rem;
  color: #fff;
  margin: 0;
  margin-bottom: 1.2rem;
}

.newsletter>div {
  display: flex;
  width: 90%;
  max-width: 20rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
}

.newsletter>div ion-icon {
  position: absolute;
  left: 3%;
  color: var(--secondary-color);
}

.newsletter>div input {
  width: 100%;
  height: 2.5rem;
  padding-top: 0.2rem;
  padding-left: 13%;
  font-size: 1rem;
  outline: none;
  color: var(--secondary-color);
}

.newsletter button {
  text-align: center;
  background-color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid transparent;
  color: #fff;
}

.social-icons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.social-icons a {
  cursor: pointer;
}

.social-icons img {
  height: 2rem;
  object-fit: contain;
}

.footer .our-business {
  text-align: center;
  margin-top: 3rem;
}

.footer .our-business>img {
  object-fit: contain;
  height: 5.5rem;
}

.footer .our-business>p {
  color: #fff;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.footer .contact {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.footer .contact a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.footer .contact a>img {
  height: 2rem;
  object-fit: contain;
  margin-bottom: 0.2rem;
}

.footer .links {
  padding: 0;
  list-style: none;
  margin-top: 3rem;
}

.footer .links>li {
  margin-bottom: 0.8rem;
}

.footer .links>li a {
  color: #ffffff99;
  font-size: 1rem;
}

.footer .links>li.title>a {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.footer .bottom {
  text-align: center;
  padding-bottom: 4rem;
}

.footer .bottom p {
  color: #fff;
  font-size: 1rem;
}

/* FOOTER IM SUPPLIER */
.im-supplier {
  background-color: #081314;
}

.im-supplier .footer .top {
  display: none;
}

.desktop {
  display: none !important;
}

/* PAGE LOADING */
.page-loading {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.page-loading.show {
  display: flex;
}

.page-loading-spinner {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  /* border: 3px solid rgba(255,255,255,.3); */
  border: 0.3rem solid rgba(255, 255, 255, .6);
  border-radius: 50%;
  /* border-top-color: #fff; */
  border-top-color: var(--primary-color);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

/* PRELOADER */
.preloader {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.preloader-spinner {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  /* border: 3px solid rgba(255,255,255,.3); */
  border: 0.3rem solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  /* border-top-color: #fff; */
  border-top-color: var(--primary-color);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//-- Media queries 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* 1024px -- md */
@media screen and (min-width: 64em) {
  .mobile {
    display: none !important;
  }

  .header {
    display: none;
  }

  .desktop {
    display: flex !important;
  }

  .navbar .action {
    display: flex;
    margin-right: 1rem;
  }

  .navbar .action div.extra-content {
    display: flex;
  }

  .img-section>img.img-desktop {
    display: flex;
  }

  .img-section>img.img-mobile {
    display: none;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  //-- Navbar
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
  .navbar {
    background-color: #fff;
    height: 6rem;
    justify-content: center;
    align-items: center;
    overflow: visible;
    box-shadow: 0 11px 30px 0 rgb(51 51 51 / 15%);
  }

  .navbar>div,
  .navbar-white .navbar>div {
    display: none;
  }

  .navbar>ul,
  .navbar-white .navbar>ul {
    height: 6rem;
    flex-direction: row;
    justify-content: center;
    padding: 0 1rem;
    gap: 2rem;
    overflow: visible;
  }

  .navbar>ul>li,
  .navbar-white .navbar>ul>li {
    width: auto;
    border-bottom: 0.1rem solid transparent;
  }

  .navbar>ul li a,
  .navbar-white .navbar>ul li a {
    width: auto;
    color: #000;
    font-size: 0.8rem;
  }

  .navbar>ul li.white,
  .navbar-white .navbar>ul li.white {
    display: none;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  //-- Submenu
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
  .submenu,
  .navbar-white .submenu {
    position: relative;
    width: auto;
  }

  .submenu-content,
  .navbar-white .submenu-content {
    position: absolute;
    list-style: none;
    width: 100%;
    min-width: 10rem;
    top: 90%;
    left: 0;
    background-color: #fff;
    padding: 0.5rem 0 1rem 0;
    box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 15%);
    border-radius: 0.3rem;
    gap: 0;
  }

  .submenu-content li,
  .navbar-white .submenu-content li {
    border-top: 0.1rem solid transparent;
    margin: 0;
  }

  .submenu-content li:hover {
    background-color: rgba(200, 200, 200, 0.1);
  }

  .submenu-content a {
    font-weight: 400 !important;
    padding: 0.6rem 1rem 0.6rem 1rem !important;
  }

  .submenu>a::after {
    content: "";
    background-image: url('../assets/images/arrow-up-black.svg');
    transform: rotate(-180deg);
    margin-left: 0.3rem;
  }

  .submenu .submenu>a::after {
    background-image: url('../assets/images/arrow-up-black.svg');
    transform: rotate(-270deg);
  }

  .submenu-content .submenu-content {
    left: 100%;
    top: -0.6rem;
    min-width: 13rem;
  }

  .submenu:hover>.submenu-content {
    display: block;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  //-- Search section
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
  .global-search-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .global-search-section form {
    width: 85%;
  }

  .global-search-section form>.content {
    flex-direction: row;
    border-color: var(--primary-color);
  }

  .global-search-section form>.content>div {
    flex: 2;
  }

  .global-search-section form>.content input::placeholder {
    color: #fff;
  }

  .global-search-section form>.content input[type="text"],
  .global-search-section form>.content select {
    flex: 1;
    background: rgba(0, 0, 0, 0.20);
    color: #fff;
  }

  .global-search-section form>.content .dateinput {
    flex: 1;
  }

  .global-search-section form>.content>div>ion-icon {
    color: #fff;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  //-- Footer
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
  .footer {
    position: relative;
  }

  .footer>.top {
    background-image: url('../assets/images/backgrounds/footer/fotografo_desktop.png');
    background-position: 100% 100%;
  }

  .footer>.top>img.mobile-copas {
    display: none;
  }

  .footer>.top>img.desktop-copas {
    display: block;
  }

  .footer>.top>div {
    width: 80%;
    align-items: flex-start;
  }

  .footer>.top>div h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .footer>.top>div p {
    margin-bottom: 0;
  }

  .footer>.top>div h2 {
    font-size: 2.5rem;
    text-align: left;
    margin-right: 30%;
    margin-top: 1.8rem;
  }

  .footer>.middle {
    display: grid;
    width: 80%;
    grid-template:
      "our-business     our-business    contact"
      "popular-searchs  interest-links  newsletter"
      "social-icons     social-icons    social-icons" /
      auto auto auto
    ;
    justify-content: flex-start;
    margin-left: -8%;
  }

  .footer .our-business {
    grid-area: our-business;
    display: flex;
  }

  .footer .our-business>img {
    margin-right: 0rem;
    height: 7rem;
    flex: 1;
  }

  .footer .our-business>p {
    border-left: 0.1rem solid #fff;
    border-right: 0.1rem solid #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    margin-top: 2rem;
    flex: 1;
  }

  .footer .contact {
    grid-area: contact;
    align-items: flex-start;
    margin-left: 2rem;
    margin-top: 3rem;
  }

  .footer .contact>a {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
  }

  .footer .popular-searchs {
    grid-area: popular-searchs;
    text-align: left;
    padding-left: 22%;
  }

  .footer .interest-links {
    grid-area: interest-links;
    text-align: left;
  }

  .footer .newsletter {
    grid-area: newsletter;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 3rem;
  }

  .footer>.middle .social-icons {
    grid-area: social-icons;
    margin-bottom: -4.5rem;
    margin-left: 2rem;
    z-index: 1;
  }

  .footer>.bottom {
    text-align: right;
    width: 80%;
    border-top: 0.1rem solid #fff;
    padding-top: 0.5rem;
  }

  /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  //-- Stepper
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
  .stepper>.stepper-header {
    width: 80%;
    background-color: transparent;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
  }

  .stepper>.stepper-header-block {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1rem; */
  }

  .stepper>.stepper-header-block>a {
    display: flex;
  }

  .stepper>.stepper-body {
    width: 70%;
  }

  .stepper>.stepper-footer {
    padding-left: 15%;
    padding-right: 15%;
  }

  .stepper>.stepper-footer>div.btn-controls {
    justify-content: flex-end;
  }

  .stepper>.alert {
    width: 70%;
    margin-bottom: 2rem;
  }

  /* .stepper {
    width: 100%;
  }

  .stepper>.stepper-header {
    width: 80%;
    background-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .stepper>.stepper-body {
    width: 80%;
  }
  
  .stepper>.stepper-footer {
    width: 80%;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: flex-start;
  }
  
  .stepper>.stepper-footer>div {
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  
  .stepper>.stepper-footer>div>a,
  .stepper>.stepper-footer>div>button {
    display: flex;
    height: 3rem;
    width: auto;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    font-size: 2.5rem;
  } */

  /* .stepper>.stepper-footer>div>a.prev {
    display: none;
  }
  
  .stepper>.stepper-footer>div>a>ion-icon {
    font-size: 2.5rem;
  }
  
  .stepper>.stepper-footer>div>button>ion-icon {
    font-size: 3rem;
    color: #fff;
  } */

  /* .stepper>.stepper-footer>div>button>span,
  .stepper>.stepper-footer>div>a>span {
    display: flex;
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }

  .stepper>.stepper-footer>div>.visualize {
    width: 40%;
    background-color: #000;
    margin-left: 5%;
  }

  .stepper>.stepper-footer>div>.visualize>ion-icon {
    font-size: 2rem;
  }

  .stepper>.stepper-footer>div.btn-controls {
    width: 20%;
    margin-left: 15%;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 3rem;
    border: 0.1rem solid var(--primary-color);
    padding: 0 1rem;
  }

  .stepper>.stepper-footer>div.btn-controls>a>ion-icon,
  .stepper>.stepper-footer>div.btn-controls>button>ion-icon {
    color: var(--primary-color);
    font-size: 2rem;
  }

  .stepper>.stepper-footer>div.btn-controls>p {
    color: var(--primary-color);
  } */

  /* .stepper>.stepper-footer>div>p {
    margin: 0;
    padding: 0;
    text-align: right;
    color: #fff;
  }
  
  .stepper>.stepper-footer.middle>div>a.prev {
    display: flex;
  }
  
  .stepper>.stepper-footer.finish>div>a.prev {
    display: flex;
  }
  
  .stepper>.stepper-footer.finish>div>.next {
    display: none;
  }
  
  .stepper>.stepper-footer.finish>div>.finish {
    display: flex;
  }
  
  .stepper>.stepper-footer.finish>div>.step-label {
    display: none;
  }
  
  .stepper>.stepper-footer.finish>div>.finish-label {
    display: block;
  } */
}

.slick-next {
  right: 1rem !important;
}

.slick-prev {
  left: 1rem !important;
  z-index: 1;
}